#root {
  margin: 0 auto;
  padding: 0;
} 

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}

body{
  font-family: Nunito;
}

li{
  cursor: pointer;
}

/* That for scroll bar */

/* html {
  margin-right: calc(-1 * (100vw - 100%));
} */
